ion-button {
    margin: 10px;
}

ion-content{
    --background: var(--ion-color-light);
}

ion-list {
    margin: 10px;
}

img {
  display: block;
  margin: 0 auto;
}

ion-datetime {
  display: block;
  margin: 0 auto;
}
