ion-button {
    margin: 10px;
    text-transform: capitalize;
}

ion-content {
    --background: url(../../../assets/images/Background.png) no-repeat bottom/cover fixed;
}

ion-list {
    margin: 10px;
}

img {
    display: block;
    margin: 0 auto;
}

ion-datetime {
    display: block;
    margin: 0 auto;
}

//Header ------------------------------------------------------
ion-header {
    background: linear-gradient(to right, #112A48, #4F7492);
    padding: 0;
    margin: 0;
    height: 30%;
}

#header_logo {
    display: block;
    margin: 0 auto;
    height: 100%;
}
