<ion-content class="home-pg-body">
    <ion-header>
        <img alt="logo" id="header_logo" src="../../../assets/images/white-logo.png">
    </ion-header>

    <ion-list color="secondary">
        <ion-item color="primary">
            <ion-avatar slot="start">
                <img src="https://avatars.githubusercontent.com/u/37631670?v=4">
            </ion-avatar>
            <ion-label>
                <h1>Jay Myers</h1>
                <p>Trips Planned: <span class="trips">4</span></p>
            </ion-label>
        </ion-item>
    </ion-list>

    <app-shuttle-reservation-card status="upcoming" startAt="01/30/22 @ 15:35:00" reservedAt="01/29/22 @ 15:35:00" notes="This customer needs space for ten people!">
        <ion-card-header header>
            <ion-card-subtitle>Most recent shuttle</ion-card-subtitle>
        </ion-card-header>
        <ion-button color="secondary" fill="clear" size="full" footer (click)="reservations()">VIEW ALL...</ion-button>
    </app-shuttle-reservation-card>



    <ion-fab vertical="center" horizontal="end" slot="fixed" class="fab-adjustment">
        <ion-fab-button color="secondary" (click)="shuttle_reservation()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-footer>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <a href src="#">Cancelation Policy</a>
                    <h6>&#169; Idaho Wilderness Shuttle</h6>
                </ion-col>
                <ion-col>
                    <img alt="logo" id="footer_logo" height="120" float-right src="../../../assets/images/white-logo.png">
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-footer>
</ion-content>