ion-content {--background: var(--ion-color-light);}
ion-list {padding: 0; box-shadow: 0 1px 2px 1px rgb(0 0 0 / 20);
  .trips {font-weight: bold;}}

ion-card-subtitle {text-transform: uppercase; font-weight: bold;}

.fab-adjustment {margin-top: 100px;}

/* ------------------------------begin header ------------------------------------------------*/

ion-header {
    --ion-background-color: linear-gradient(to right, #549feb, #367fc8, #133957, #162d44);
}

img#header_logo {display: block; margin: 0 auto; height: 50%;}


/* ------------------------------begin footer ------------------------------------------------*/

ion-footer {
    --ion-background-color: linear-gradient(to left, #549feb, #367fc8, #133957, #162d44);
}

h6 {
    color: #acbecf;
}


/* ------------------------------begin media queries------------------------------------------*/

@media (max-width: 576px) {}

@media (max-width: 330px) {}

@media (min-width: 576px)and (max-width: 768px) {}
