<ion-content class="home-pg-body">
    <ion-item class="account-bar" color="primary">
        <!-- TODO: add live-database profile picture population -->
        <!-- <ion-avatar slot="start">
            <img src="https://avatars.githubusercontent.com/u/37631670?v=4">
        </ion-avatar> -->

        <ion-label>
            <ion-title>Welcome, {{userName}}!</ion-title>
        </ion-label>

        <ion-button fill="clear" (click)="account()">Edit Your Profile</ion-button>
    </ion-item>

    <!-- TODO: add live-database shuttle reservation card population on home page-->
    <app-shuttle-reservation-card status="upcoming" startAt="01/30/22 @ 15:35:00" reservedAt="01/29/22 @ 15:35:00" notes="This customer needs space for ten people!">
        <ion-card-header header>
            <ion-card-subtitle>Most recent shuttle</ion-card-subtitle>
        </ion-card-header>
        <ion-button color="primary" fill="clear" size="full" footer (click)="reservations()">View All...</ion-button>
    </app-shuttle-reservation-card>

    <ion-row class="ion-justify-content-center">
        <ion-button shape="round" size="small" color="primary" (click)="shuttle_reservation()"><b>Create A Reservation</b></ion-button>
    </ion-row>

    <app-main-footer></app-main-footer>
</ion-content>
