<ion-content class="home-pg-body">
    <ion-item class="account-bar" color="primary">
        <!-- TODO: add live-database profile picture population -->
        <!-- <ion-avatar slot="start">
            <img src="https://avatars.githubusercontent.com/u/37631670?v=4">
        </ion-avatar> -->

        <ion-label>
            <ion-title *ngIf="guestStatus == 'false'">Welcome, {{userName}}!</ion-title>
            <ion-title *ngIf="guestStatus == 'true'" class="ion-text-center">Idaho Wildlife Shuttle</ion-title>
        </ion-label>

        <ion-button *ngIf="guestStatus == 'false'" color="tertiary" shape="round" (click)="account()">Edit Your Profile</ion-button>
    </ion-item>

    <!-- TODO: add live-database shuttle reservation card population on home page-->
    <ion-item *ngFor="let entry of form">
        <app-shuttle-reservation-card id={{entry.name}} status={{entry.date_status}} reservedAt={{entry.date}} notes={{entry.description}} payment={{entry.price}} isPayed={{entry.payment_status}}></app-shuttle-reservation-card>
    </ion-item>

    <ion-item *ngIf="guestStatus == 'true'">
        <app-shuttle-reservation-card id="1" status="finished" reservedAt={{currentDate}} notes="You haven't created an account yet! Register today so you can start planning your adventures!" payment="N/A" isPayed="true"></app-shuttle-reservation-card>
    </ion-item>

    <!-- <app-shuttle-reservation-card status="upcoming" startAt="01/30/22 @ 15:35:00" reservedAt="01/29/22 @ 15:35:00" notes="This customer needs space for ten people!" isPayed="false">
    </app-shuttle-reservation-card>

    <app-shuttle-reservation-card status="active" startAt="01/31/22 @ 15:35:00" reservedAt="01/30/22 @ 15:37:00" notes="This customer is going to be bringing an offroad 
    motorcycle and will need accomodations to transport it." isPayed="true">
    </app-shuttle-reservation-card>

    <app-shuttle-reservation-card status="finished" startAt="01/28/22 @ 15:49:00" reservedAt="01/15/22 @ 12:34:00" notes="This customer is highly-allergic and will need
    special medication to be on board." payment="$267.54">
    </app-shuttle-reservation-card> -->

    <ion-row class="ion-justify-content-center">
        <ion-button shape="round" size="small" color="primary" (click)="shuttle_reservation()"><b>Create A Reservation</b></ion-button>
    </ion-row>
</ion-content>

<app-main-footer></app-main-footer>
