                                 /*This is where Gallery Page Specific Styles go*/
                                 
                                 * {
                                     box-sizing: border-box;
                                 }
                                 
                                 main h1 {
                                     text-align: center;
                                     font-size: 3em;
                                 }
                                 
                                 .gallery {
                                     display: flex;
                                     flex-wrap: wrap;
                                     justify-content: center;
                                     align-items: center;
                                 }
                                 
                                 .media {
                                     width: 400px;
                                     height: 227px;
                                     overflow: hidden;
                                     position: relative;
                                     display: flex;
                                     justify-content: center;
                                     align-items: center;
                                     margin: 5px;
                                 }
                                 
                                 img.gallery-img {
                                     margin: 5px;
                                 }
                                 
                                 p {
                                     text-align: center;
                                     font-size: 15px;
                                     letter-spacing: 1px;
                                 }
                                 
                                 p {
                                     transform: scale(1);
                                     transition: all 0.9s ease;
                                 }
                                 /*Reveal on scroll */
                                 
                                 .reveal {
                                     position: relative;
                                     transform: translateY(150px);
                                     opacity: 0;
                                     transition: 1s all ease;
                                 }
                                 
                                 .reveal.active {
                                     transform: translateY(0);
                                     opacity: 1;
                                 }
                                 
                                 @media screen and (max-width: 600px) {
                                     .gallery {
                                         -ms-flex: 100%;
                                         flex: 100%;
                                         max-width: 100%;
                                     }
                                 }
                                 /* @media screen and (max-width: 800px) {
                                     .gallery {
                                         -ms-flex: 30%;
                                         flex: 30%;
                                         max-width: 30%;
                                     }
                                 } */
                                 /* @media (min-width: 451px) and (max-width: 820px) {
                                 div.fleft {
                                     height: 100px;
                                     max-width: 20%;
                                 }
                                 div.fright {
                                     padding-right: 4%;
                                     width: 35%;
                                 }
                                 h4.app-link {
                                     text-align: left;
                                     width: 150px;
                                 }
                             }
                             
                             @media screen and (max-width: 450px) {
                                 div.fleft {
                                     height: 100px;
                                     max-width: 20%;
                                 }
                                 div.fright {
                                     padding-right: 2%;
                                     width: 35%;
                                 }
                                 h4.app-link {
                                     text-align: left;
                                     width: 150px;
                                 }
                                 .gallery {
                                     display: block;
                                 }
                                 section {
                                     display: flex;
                                     justify-content: center;
                                     align-items: center;
                                 }
                                 section .media-container {
                                     display: flex;
                                 }
                                 @media (min-width: 451px) and (max-width: 820px) {
                                     div.left {
                                         height: 100px;
                                         max-width: 20%;
                                     }
                                     div.right {
                                         padding-right: 4%;
                                         width: 35%;
                                     }
                                     h4.app-link {
                                         text-align: left;
                                         width: 150px;
                                     }
                                 } */