/*
This is where the styles for both pages go
*/
@import url('https://fonts.googleapis.com/css2?family=Candal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@700&display=swap');
/*
--------------
GLOBALS
--------------
*/
*,::before,::after{box-sizing:inherit;background-clip:padding-box!important;position:relative}
* {font-family: 'Assistant', sans-serif;}
* > h1, h2, h3, h4, h5, h6 {font-family: 'Candal', sans-serif;}
html, body {height: 100%;}
body{display: flex; flex-direction: column; padding:0px; margin:0px}
body > header[id*='site-header']{flex: none; flex-shrink: 0;}
body > main[id*='site-content']{flex: 1 0 auto; position:relative; overflow:hidden; }
body > footer[id*='site-footer']{margin-top: auto; flex: none; flex-shrink: 0;}
ul,li{margin:0px;padding:0px;list-style: none;}
/*
--------------
Home Page
--------------
*/
.hero-container-index {height:100%; background-image: url(../assets/idaho-river.jpg); background-repeat: no-repeat;}
.hero-container-gallery {height:100%; background-image: url(../assets/ski.jpg); background-repeat: no-repeat; background-size: cover;}
.nav-container {
  width: 400px;
  float: right;
  height:1000px;
  padding-top: 60px;
  background: url(../assets/Background.png), linear-gradient(to right, #416282,#496E8B, #4F7492);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}
nav,
nav ul,
nav ul a {
  color:#ffffff;
  width:100%;
  text-align: center;
  overflow:visible;
  text-decoration:none;
}
nav ul a:hover {text-decoration:underline;}
nav > ul > li > .hero-img {max-width: 17rem; height: auto; object-fit: contain;}
nav > ul > li > h1 {margin-left:-100%; margin-top: 20%;}
.header-separator{margin-top: 7rem; text-align: left; margin-left: 10rem;}
.header-nav-li{margin-top: 1.5rem; font-size: 1.3rem;}
/* animate */
#topBtn {
  display: none;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background: linear-gradient(to right, #162d44,#176eb3);
  color: white;
  cursor: pointer;
  padding: 1rem;
  border-radius: 50rem;
}
#topBtn:hover {background: linear-gradient(to right, #367fc8,#133957);}
.top-bar {height: 15rem; background-color: #b1bcbf; color: #2b2e30;}
.topbar-grid-container, .footer-grid-container {display: grid; grid-template-columns: auto auto auto; text-align: center;}
.top-cell, .footer-cell {max-width: 30rem;}
.top-cell {margin: 0px auto;}
/* .top-cell {margin: 0px auto;} */
.fa-solid, .fas {font-size: 3rem; margin: 1rem;}
.download, .phone { font-size: 1rem;}
#site-footer{background: linear-gradient(to right, #112A48, #4F7492); color: #FFFFFF;}
#site-footer a {color: white; text-decoration: none;}
#site-footer a:hover {text-decoration: underline;}
.footer-logo {text-align: left; margin-top: 3rem;}
.fright {text-align: right; margin-top: 3rem;}
/*
--------------
Sub Pages
--------------
*/
/*
--------------
Media Queries
--------------
*/
