/*
This is where the styles for both pages go
*/
@import url('https://fonts.googleapis.com/css2?family=Candal&display=swap');
* {
  font-family: 'Candal', sans-serif;
}
.nav-container {
  height: 90%;
  width: 30rem;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  padding-top: 60px;
  background-image: url(../assets/Background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-position: bottom;
}
.nav-container > nav {
  text-align: center;
  margin-top: 25rem;
}
.nav-container > nav > ul > li {
  list-style: none;
  padding-bottom: 2rem;
}
.nav-container > nav > ul > li > a {
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
}
#topBtn {
  display: none;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #4a8730;
  color: white;
  cursor: pointer;
  padding: 1rem;
  border-radius: 50rem;
  animation: pulse;
  animation-duration: 300ms;
  transition: 300ms;
}
#topBtn:hover {
  background-color: #8abd74;
}
/* media queries */
@media screen and (max-height: 450px) {
  .nav-container {
    padding-top: 15px;
  }
  .nav-container a {
    font-size: 18px;
  }
}
/* media queries end */
