<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>786300098570-5mgl0slkr2eshbemshos4t36q8m6rfsd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786300098570-5mgl0slkr2eshbemshos4t36q8m6rfsd</string>
	<key>API_KEY</key>
	<string>AIzaSyACY01yJYxUAaPyYKg8UZhuMi6MDW52OAA</string>
	<key>GCM_SENDER_ID</key>
	<string>786300098570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LCstate.shuttle</string>
	<key>PROJECT_ID</key>
	<string>idaho-wildlife-shuttle</string>
	<key>STORAGE_BUCKET</key>
	<string>idaho-wildlife-shuttle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786300098570:ios:83086217368a4a0a6427f3</string>
</dict>
</plist>