ion-content {
    --background: var(--ion-color-light);

    ion-row {
            ion-button {
                text-transform: capitalize;
            }
    }
}   

ion-header {
    background: linear-gradient(to right, #112A48, #4F7492);
    padding: 0;
    margin: 0;
    height: 30%;
}
