<ion-card>
  <ng-content select="[header]"></ng-content>
  <ion-card-content>
    <ion-item lines="none">
      <ion-icon *ngIf="status == 'upcoming'" name="hourglass-outline" slot="start" color="warning"></ion-icon>
      <ion-icon *ngIf="status == 'active'" name="bus-outline" slot="start" color="primary"></ion-icon>
      <ion-icon *ngIf="status == 'finished'" name="checkmark-circle-outline" slot="start" color="medium"></ion-icon>
      <ion-label>
        <span *ngIf="status == 'upcoming'">Upcoming</span>
        <span *ngIf="status == 'active'">Active</span>
        <span *ngIf="status == 'finished'">Finished</span>
        <p><b>{{startAt}}</b></p>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <p>{{reservedAt}}</p>
        <p *ngIf="notes">Notes: {{notes}}</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon *ngIf="status == 'upcoming'" name="logo-usd" slot="start" color="success"></ion-icon>
      <ion-label *ngIf="status == 'upcoming'" color="success">{{payment}}</ion-label>
      <ion-icon *ngIf="status == 'finished' && isPayed == 'false'" name="logo-usd" slot="start" color="danger"></ion-icon>
      <ion-label *ngIf="status == 'finished' && isPayed == 'false'" color="danger">{{payment}} (Cancelled)</ion-label>
      <ion-icon *ngIf="status == 'finished' && isPayed == 'true'" name="logo-usd" slot="start" color="success"></ion-icon>
      <ion-label *ngIf="status == 'finished' && isPayed == 'true'" color="success">{{payment}} (Successful)</ion-label>
      <ion-button *ngIf="status == 'upcoming'" shape="round" size="small" color="primary" (click)="payNow()">Pay Now</ion-button>
    </ion-item>
    <ng-content select="[footer]"></ng-content>
  </ion-card-content>
</ion-card>
