<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button title=""></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>What type of trips are you looking to take?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-radio-group>    
        <ion-item>
          <ion-label>Backpacking</ion-label>
          <ion-radio value="backpacking" slot="start"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>River Boat Touring</ion-label>
          <ion-radio value="river boat touring" slot="start"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Other</ion-label>
          <ion-radio value="other" slot="start"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Contact Information</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-lable position="floating">Full Name</ion-lable>
        <ion-input type="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-lable position="floating">Email Address</ion-lable>
        <ion-input type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-lable position="floating">Password</ion-lable>
        <ion-input type="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-lable position="floating">Confirm Password</ion-lable>
        <ion-input type="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-lable position="floating">Phone Number</ion-lable>
        <ion-input type="tel"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Address Information</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-lable position="floating">Address</ion-lable>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-lable position="floating">State</ion-lable>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-lable position="floating">Zip Code</ion-lable>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-lable position="floating">City</ion-lable>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-lable position="floating">Home Phone Number</ion-lable>
        <ion-input type="tel"></ion-input>
      </ion-item>

      <ion-item>
        <ion-lable position="floating">Any additional circumstances?</ion-lable>
        <ion-input type="text"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-button size="full" color="success" (click)="register()"><b>Register</b></ion-button>
</ion-content>
