<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="../assets/images/header-banner.PNG"></ion-img>
    <ion-card-header>

      <ion-card-title>PayPal</ion-card-title>
      <ion-row>
        <ion-col>
          Payment Total:
        </ion-col>
        <ion-col>
          {{currencyIcon}} ${{paymentAmount}}
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <div id="paypal-button-container"></div>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-header>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
      <div id="paypal-button-container"></div>
  </ion-header>
