.welcome-card {
    margin-left: auto;
    margin-right: auto;
    ion-img {
        max-height: 35vh;
        overflow: hidden;
    }
    ion-card-header,
    ion-card-content {
        margin: auto;
    }
    ion-card {
        text-align: center;
    }
    ion-row {
        align-self: center;
    }
}

ion-content{
    --background: var(--ion-color-light);
    // --background: url(../../../assets/images/Background.png) no-repeat bottom/cover fixed;

    ion-row {
        ion-button {
            text-transform: capitalize;
        }
    }
}

// ion-card-content {
//     background: linear-gradient(to right, #112A48, #4F7492);
//     height: 100%;
// }
// ion-card-header {
//     background: linear-gradient(to right, #112A48, #4F7492);
//     height: 20%;
// }
// needs more polish
//Header ------------------------------------------------------
ion-header {
    background: linear-gradient(to right, #112A48, #4F7492);
    padding: 0;
    margin: 0;
    height: 30%;
}

#header_logo {
    display: block;
    margin: 0 auto;
    height: 100%;
}