<ion-content>
    
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref="shuttle-reservation"></ion-back-button>
        </ion-buttons>
        <ion-title>PayPal Payment</ion-title>
    </ion-toolbar>

    <!--<ion-img src="../assets/images/header-banner.PNG"></ion-img>-->
    <!-- needs more polish -->
    <ion-row class="ion-justify-content-center">
        <b>Payment Total: ${{paymentAmount}} {{currencyIcon}}</b>
    </ion-row>

    <ion-card-content class="ion-text-center">
        <div id="paypal-button-container"></div>
    </ion-card-content>

    <!-- <ion-row class="ion-justify-content-center">
        <ion-button shape="round" size="small" color="primary" (click)="toHome()"><b>View All Reservations</b></ion-button>
    </ion-row> -->

    <!-- <ion-header>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div id="paypal-button-container"></div>
    </ion-header> -->
</ion-content>

<app-main-footer></app-main-footer>
