
.welcome-card {
    margin-left: auto;
    margin-right: auto;
    ion-img {
      max-height: 35vh;
      overflow: hidden;
    }
    ion-card-header {
      margin: auto;
    }
    ion-card-content {
      margin: auto;
    }
    ion-card {
      text-align: center;
    }
    ion-row {
      align-self: center;
    }
  }