<ion-content>
  <ion-header>
    <img alt="logo" id="header_logo" src="../../../assets/images/white-logo.png">
  </ion-header>

  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="shuttle-reservation"></ion-back-button>
      </ion-buttons>
      <ion-title>Mobile PayPal Payment</ion-title>
  </ion-toolbar>

  <ion-row class="ion-justify-content-center">
    <b>Payment Total: ${{paymentAmount}} {{currencyIcon}}</b>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-button shape="round" color="primary" fill="full" size="full" (click)="payWithPaypal()">Pay Now</ion-button>
  </ion-row>

  <app-main-footer></app-main-footer>
</ion-content>
