<ion-header>
    <img alt="logo" id="header_logo" src="../../../assets/images/white-logo.png">
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-title>
            Cancellation Policy
        </ion-card-title>
            <ion-card-text>
                <p>Cancellation more than 30 days before your earliest reservation – 100% refund</p>
                <p>Cancellation between 7 and 30 days before earliest reservation – 50% refund</p>
                <p>Cancellation 7 days or fewer before your earliest reservation – No refund</p>
            </ion-card-text>

                <!--  Add DOWNLOAD Propery *** -->
            <ion-item>
                <ion-label>View Pricing Structure and Cancelation Policy:</ion-label>
                <ion-button fill="solid" slot="end">View</ion-button>
            </ion-item>

    </ion-card>

    <app-main-footer></app-main-footer>
    
</ion-content>
