<ion-content>
    <ion-header>
        <img alt="logo" id="header_logo" src="../../../assets/images/white-logo.png">
    </ion-header>

    <ion-text>
        Some words go here. Some words go here. Some words go here.
    </ion-text>

    <ion-footer>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <a href src="#">Cancelation Policy</a>
                    <h6>&#169; Jay Myers </h6>
                </ion-col>
                <ion-col>
                    <img alt="logo" id="footer_logo" height="120" float-right src="../../../assets/images/white-logo.png">
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-footer>
</ion-content>