//Header ------------------------------------------------------
ion-header {
    background: linear-gradient(to right, #112A48, #4F7492);
    padding: 0;
    margin: 0;
    height: 30%;
}

#header_logo {
    display: block;
    margin: 0 auto;
    height: 100%;
}

// Cancel Policy Card ---------------------------------------

ion-card-title {
    background-color: red; text-align: center; font-size: 30px;
}

ion-card-text {
    background-color: black; text-align: center; font-size: 15px; font-weight: bold;
}

// Footer ---------------------------------------------------
ion-grid {
    background: linear-gradient(to left, #112A48, #4F7492);
    padding: 0;
    margin: 0;
    height: 20%;
}

#footer_logo {
    display: block;
    margin: 0 auto;
}

ion-col {
    padding: 4%;
    margin: 4%;
}

h6 {
    color: white;
}
