<ion-footer>
  <ion-grid>
      <ion-row>
          <ion-col>
            <ion-button color="danger" (click)="cancelation_policy()">Cancellation Policy</ion-button>
            <div></div>
            <app-logout-button *ngIf="guestStatus == 'false'"></app-logout-button>
            <div></div>
            <ion-button *ngIf="guestStatus == 'true'" color="tertiary" (click)="signIn()">Sign In</ion-button>
            <div></div>
            <ion-button *ngIf="guestStatus == 'true'" color="warning" (click)="register()">Register</ion-button>
            <h6 float-right>&#169; Idaho Wilderness Shuttle</h6>
          </ion-col>
          <ion-col>
            <img alt="logo" id="footer_logo" height="120" float-right src="../../../assets/images/white-logo.png">
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-footer>