<ion-toolbar color="primary">
  <ion-buttons>
      <ion-back-button text="" defaultHref="home"></ion-back-button>
      <ion-title>Reservations</ion-title>
  </ion-buttons>
</ion-toolbar>

<ion-content>
    <app-shuttle-reservation-card status="upcoming" startAt="01/30/22 @ 15:35:00" reservedAt="01/29/22 @ 15:35:00" notes="This customer needs space for ten people!">
    </app-shuttle-reservation-card>

    <app-shuttle-reservation-card status="active" startAt="01/31/22 @ 15:35:00" reservedAt="01/30/22 @ 15:37:00" notes="This customer is going to be bringing an offroad 
  motorcycle and will need accomodations to transport it.">
    </app-shuttle-reservation-card>

    <app-shuttle-reservation-card status="finished" startAt="01/28/22 @ 15:49:00" reservedAt="01/15/22 @ 12:34:00" notes="This customer is highly-allergic and will need
  special medication to be on board." payment="$267.54">
    </app-shuttle-reservation-card>

    <app-main-footer></app-main-footer>
</ion-content>