<ion-content>
  <div class="flex-center">
    <form [formGroup]="form">
      <ion-card>
        <ion-card-header>
          <ion-card-title color="tertiary"><b>Sign In</b></ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-item>
            <ion-label position="floating">Email Address</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>

          <app-error-message [field]="form.get('email')" error="required"
          message="*Email required">
          </app-error-message>

          <app-error-message [field]="form.get('email')" error="email"
          message="*Email invalid">
          </app-error-message>

          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>

          <app-error-message [field]="form.get('password')"
          error="required" message="*Password required">
          </app-error-message>

          <ion-button color="dark" fill="clear" size="full"
          [disabled]="!form.get('email').valid" class="ion-text-capitalize"
          (click)="forgotEmailOrPassword()" id="recoverPasswordButton">
          Forgot your email or password?
          </ion-button>

          <ion-row class="ion-justify-content-center">
            <ion-button shape="round" color="primary" size="full" [disabled]="!form.valid"
            (click)="login()" id="loginButton">
            <b>Login</b>
            </ion-button>
            <ion-button shape="round" color="primary" fill="full" size="full"
            (click)="register()">
            <b>Register</b>
            </ion-button>
            <ion-button shape="round" color="primary" fill="full" size="full"
            (click)="continueAsGuest()">
            <b>Guest</b>
            </ion-button>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </form>
  </div>
</ion-content>
