<ion-content>
  <div class="flex-center">
    <form [formGroup]="form">
      <ion-card>
        <ion-card-header>
          <ion-card-title color="secondary"><b>Idaho Wildlife Shuttle</b></ion-card-title>
        </ion-card-header>

        <ion-card-content>
  <!-- items -->
          <ion-item>
            <ion-label position="floating">Email Address</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <app-error-message [field]="form.get('email')" error="required" message="*Email required"></app-error-message>
          <app-error-message [field]="form.get('email')" error="email" message="*Email invalid"></app-error-message>
 
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <app-error-message [field]="form.get('password')" error="required" message="*Password required"></app-error-message>
  <!-- items end -->
  <!-- buttons -->
          <ion-button color="dark" fill="clear" size="full" [disabled]="!form.get('email').valid"
          (click)="forgotEmailOrPassword()" id="recoverPasswordButton">Forgot your email or password?</ion-button>
          <ion-button color="success" size="full" [disabled]="!form.valid" (click)="login()"><b>Login</b></ion-button>
          <ion-button color="success" fill="clear" size="full" (click)="register()">Register</ion-button>
  <!-- buttons end -->
        </ion-card-content>
      </ion-card>
    </form>
  </div>
</ion-content>
